@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.login-button {
  font-family: "Helvetica", sans-serif;
}

label {
  font-size: 12px !;
}

input {
  outline: none;
}

/* index.css */
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(0, 123, 255, 0.4);
  animation: ripple 0.6s linear;
  pointer-events: none;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 0.7;
  }
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple-link {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
